.exp-card {
  background-image: url("https://cdn.yemek.com/mnresize/1250/833/uploads/2022/05/ahlatlibel-ataturk-park-ankara-piknik-alanlari-2.jpg");
  background-position: center;
  background-size: cover;
}
.exp-card-konser {
  background-image: url("https://www.merkezefendi.bel.tr/Content/yuklemeler/haberler/WEMUU20-5-2022-21-WhatsAppImage2022-05-20at00.59.05(1).jpeg");
  background-position: center;
  background-size: cover;
}
.card-shadowed {
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.style1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(white));
  background-image: linear-gradient(0deg, black 0%, white 100%);
}

:root {
  --f7-panel-width: 260px;
  /*
    --f7-panel-left-width: var(--f7-panel-width);
    --f7-panel-right-width: var(--f7-panel-width);
    --f7-panel-left-collapsed-width: var(--f7-panel-collapsed-width);
    --f7-panel-right-collapsed-width: var(--f7-panel-collapsed-width);
    */
  --f7-panel-bg-color: #fff;
}
.ios {
  --f7-panel-collapsed-width: 58px;
  --f7-panel-backdrop-bg-color: rgba(0, 0, 0, 0);
  --f7-panel-transition-duration: 400ms;
  --f7-panel-shadow: transparent;
}
.md {
  --f7-panel-collapsed-width: 60px;
  --f7-panel-backdrop-bg-color: rgba(0, 0, 0, 0.3);
  --f7-panel-transition-duration: 300ms;
  --f7-panel-shadow: rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.07) 30%,
    rgba(0, 0, 0, 0.03) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%;
}
.aurora {
  --f7-panel-collapsed-width: 60px;
  --f7-panel-backdrop-bg-color: rgba(0, 0, 0, 0.3);
  --f7-panel-transition-duration: 300ms;
  --f7-panel-shadow: rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.07) 30%,
    rgba(0, 0, 0, 0.03) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%;
}
.profil-tag {
  margin-top: 0px;
}
